body, html {
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: x-large;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    float: right;
}

.dropdown-content a {
    display: block;
}

h3 {
    padding: 10px 20px;
}