body {
    font-family: 'Open Sans', sans-serif;
    display: block;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
}

.author-box {
    display: flex;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 20px 20px;
}

.author-image {
    width: 500px;
    height: 250px;
    background-color: #f0f0f0;
    background-size: cover;
}

.author-details {
    padding: 10px;
}

.bio {
    display: block  ;
    margin-top: 10px;
}

.books {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    cursor: pointer;
}

.book-list {
    display: flex;
    margin-top: 10px;
}