body, html {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    color: #fff;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 22px;
}
.navbar-title {
    font-size: x-large;
    font-weight: bold;
}
.navbar-links {
    display: flex;
    gap: 20px;
}
.navbar-links a {
    color: #f39c12;
}

.dropdown {
    position: relative;
}
.dropdown-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
}
.dropdown-content a {
    color: #fff;
    padding: 3px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #444;
}
.dropdown:hover .dropdown-content {
    display: block;
}